body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(186, 255, 159);
    display: flex;
    justify-content: center;
}

.head {
    color: rgb(99, 99, 99)
}

.App {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo{
    display: flex;
    padding: 5px 0;
}
.todoCompleted{
    text-decoration-line: line-through;
}

.todo-list {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 10px 0;
}

li {
    background-color: white;
    width: 10em;
    list-style-type: none;
    text-align: left;
}

.todoInputBar {
    display: flex;
    flex-direction: row;
}

.select {
    margin-left: 3mm;
}
